[submodule "submodules/fenix-ui-metadata-editor"]
	path = submodules/fenix-ui-metadata-editor
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-editor.git
[submodule "submodules/fenix-ui-menu"]
	path = submodules/fenix-ui-menu
	url = https://github.com/FENIX-Platform/fenix-ui-menu.git
[submodule "submodules/fenix-ui-metadata-viewer"]
	path = submodules/fenix-ui-metadata-viewer
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-viewer.git
[submodule "submodules/fenix-ui-common"]
	path = submodules/fenix-ui-common
	url = https://github.com/FENIX-Platform/fenix-ui-common
